* {
  font-family: "Lato", sans-serif;
}

button {
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #b2cee5;
  color: black;
  height: 120px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.App-title {
  font-size: 2em;
  font-weight: 1000;
  line-height: 3em;
}

.App-title-link {
  text-decoration: none;
  color: black;
}

.board-container {
  margin-top: 50px;
}

.board-grid {
  border: 1px solid black;
  margin: 0 auto;
  width: 80%;
}

.history-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 150px;
  padding: 50px;
}

.O {
  background-color: lightcoral;
}

.reset-button {
  margin-top: 25px;
}

.square {
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
  line-height: 1rem;
  font-size: 1rem;
  min-height: 2rem;
}

.start {
  background-color: lightgreen;
}

.unclaimed {
  background-color: lightgray;
}

.winning-h1-message {
  font-size: 4em;
  font-weight: 1000;
}

.X {
  background-color: lightgreen;
}
