.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.boardContainer {
  border: 1px solid black;
  margin: 0 auto;
  width: 80%;
}

.square {
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
  line-height: 1rem;
  font-size: 1rem;
  min-height: 1rem;
}
